.header-top-menu-title
    {
        color:#fff;background:#1f444ea3;-webkit-font-smoothing:antialiased;font-size:1.4rem;padding:5px 0 5px 30px;
    }
.highlight
    {
        color:#2ca7aa;text-shadow:2px 4px 3px #0000004d
    }
.header-menu
        {
           background-color: #0cbaba;
            background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
            
                background-size:cover;padding-left:0;padding-right:0;background-size:cover;padding-left:0;padding-right:0;
        }
        
  .card1
        {
            color:#1F9EA7;font-size:23px;font-family:'Slabo', serif;
        }
      .part
            {
                background: center/cover url('./header_sidemenu_back.jpg');
               padding-left:0;padding-right:0
            }
            .header {
                padding: 12px;
                text-align: center;
                background-color: #0cbaba;
                background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
                
                color: white;
              }
            .footer {
                padding: 12px;
                text-align: center;
                background-color: #0cbaba;
                background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
                
                color: white;
              } 
            #a1
            {
                position:relative;
            }
            .overlap
            {
                  
             
                     margin: 4px;
                    
            } 
            
            .overlap:hover
            {
                background-color: #5B5464 ;
           
            }.overlap2
            {
                
                     margin: 4px;
                    
            }  
         
            .zoom {
                
               
                transition: transform .2s; /* Animation */
               
            
              }
              li {
                margin-bottom: 10px;
            }
              .zoom:hover {
                transform: scale(1.05);/* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
              } 
              .text2
                {
                    color:brown;  
                }
        .card
              {
                  background-color:#000
              }  
              a {
                color:brown;
                text-decoration: none;
                }
            
            h1{
                color:#382B54
            }
            .center {  
              
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                    width: 45%;
                  
                }  
        .text1
        {font-family: 'Slabo', serif;font-size:17px;-webkit-font-smoothing:antialiased;color:#FFF;
        }
        
          
         